<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registro</title>
</head>
<body>
     
{% with msj = get_flashed_messages() %}
{% if msj %}
{% for mensaje in msj %}
<h1>{{ mensaje }}</h1>
{% endfor %}
{% endif %}
{% endwith %}
      
<form action="/registrarMedico" method="post">
    <label>RFC</label>
    <input type="text" name="txtRfc">

    <label>Nombre</label>
    <input type="text" name="txtNombre">

    <label>Cedula</label>
    <input type="text" name="txtCedula">

    <label>Correo</label>
    <input type="email" name="txtCorreo">

    <label>Password</label>
    <input type="password" name="txtPassword">

    <label>Rol</label>
    <input type="text" name="txtRol">

    <button type="submit">Registrar</button>
</form>
    
</body>
</html>
